In [2]:
import pandas as pd

In [28]:
df = pd.read_csv('Data\Mcdonald_review - 6 months - 40 stores.csv')

In [29]:
df.head()

,reviewer_id,store_address,latitude,longitude,rating_count,review_time,review,rating,sentiment
0,1,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star,negative
1,2,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars,positive
2,3,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star,negative
3,4,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was �����������...,5 stars,positive
4,5,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star,negative

In [36]:
def preprocess_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    """
    Preprocess the dataframe by cleaning and aggregating data.
    
    Args:
        df (pd.DataFrame): The input dataframe.
    
    Returns:
        pd.DataFrame: The preprocessed dataframe.
    """
    # Create a copy of the dataframe to avoid SettingWithCopyWarning
    df = df.copy()
    
    # Define a mapping for star ratings
    rating_map = {
        '1 star': 1.0,
        '2 stars': 2.0,
        '3 stars': 3.0,
        '4 stars': 4.0,
        '5 stars': 5.0
    }
    
    # Map ratings using the defined dictionary
    df['rating'] = df['rating'].replace(rating_map)
    
    # Drop rows with NaN ratings
    df = df.dropna(subset=['rating'])
    
    # Convert latitude and longitude to numeric
    df['latitude'] = pd.to_numeric(df['latitude '], errors='coerce')
    df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')
    
    # Drop rows with NaN latitude or longitude
    df = df.dropna(subset=['latitude', 'longitude'])
    
    # Recalculate rating_count for each store_address
    df['rating_count'] = df.groupby('store_address')['rating'].transform('count')
    
    # Group by store_address and calculate weighted average rating
    df_grouped = df.groupby('store_address').agg({
        'latitude': 'first',
        'longitude': 'first',
        'rating_count': 'first',
        'rating': lambda x: round((x * df.loc[x.index, 'rating_count']).sum() / df.loc[x.index, 'rating_count'].sum(), 2) if df.loc[x.index, 'rating_count'].sum() != 0 else round(x.mean(), 2),
        'sentiment': lambda x: x.mode().iloc[0] if not x.empty else None
    }).reset_index()
    
    return df_grouped

In [37]:
df_pro = preprocess_dataframe(df)

C:\Users\York Yong\AppData\Local\Temp\ipykernel_32516\301355854.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['rating'] = df['rating'].replace(rating_map)

In [38]:
df_pro

,store_address,latitude,longitude,rating_count,rating,sentiment
0,"1044 US-11, Champlain, NY 12919, United States",44.981410,-73.459820,46,3.59,positive
1,"10451 Santa Monica Blvd, Los Angeles, CA 90025...",34.056593,-118.426000,2,5.00,positive
2,"10901 Riverside Dr, North Hollywood, CA 91602,...",34.152507,-118.367904,168,3.22,positive
3,"1100 N US Hwy 377, Roanoke, TX 76262, United S...",33.009318,-97.222925,69,3.29,positive
4,"111 Madison St, Oak Park, IL 60302, United States",41.879656,-87.777913,70,3.31,positive
5,"1121 Garnet Ave, San Diego, CA 92109, United S...",32.797661,-117.249470,42,2.31,negative
6,"11382 US-441, Orlando, FL 32837, United States",28.399986,-81.405103,46,3.02,positive
7,"114 Delancey St, New York, NY 10002, United St...",40.718838,-73.988280,3,3.33,neutral
8,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,68,3.00,positive
9,"1415 E State Rd, Fern Park, FL 32730, United S...",28.655350,-81.342692,163,2.87,negative
10,"151 West 34th Street (Macy's 7th Floor, New Yo...",40.750831,-73.989096,18,1.22,negative
11,"1540 2nd St, Santa Monica, CA 90405, United St...",34.012219,-118.494540,113,3.29,positive
12,"160 Broadway, New York, NY 10038, United States",40.709375,-74.009979,3,2.33,negative
13,"1650 Washington Ave, Miami Beach, FL 33139, Un...",25.790295,-80.132077,77,2.60,negative
14,"1698 US-209, Brodheadsville, PA 18322, United ...",40.922081,-75.399919,65,3.00,positive
15,"1916 M St NW, Washington, DC 20036, United States",38.905456,-77.044235,46,3.83,positive
16,"210 5th S, Salt Lake City, UT 84106, United St...",40.759057,-111.897383,106,2.61,negative
17,"2400 Alliance Gateway Fwy, Fort Worth, TX 7617...",32.958041,-97.307652,58,3.36,positive
18,"25200 I-10 Lot 2, San Antonio, TX 78257, Unite...",29.676267,-98.634580,53,3.58,positive
19,"262 Canal St, New York, NY 10013, United States",40.718514,-74.001168,55,3.40,positive
20,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,157,2.43,negative
21,"429 7th Ave, New York, NY 10001, United States",40.750506,-73.990583,91,3.63,positive
22,"490 8th Ave, New York, NY 10001, United States",40.752529,-73.992876,99,2.75,negative
23,"501 W Imperial Hwy, Los Angeles, CA 90044, Uni...",33.931261,-118.282955,32,3.22,positive
24,"550 Lawrence Expy, Sunnyvale, CA 94086, United...",37.385495,-121.995421,52,3.33,positive
25,"555 13th St NW, Washington, DC 20004, United S...",38.896980,-77.028913,2,2.50,negative
26,"5725 W Irlo Bronson Memorial Hwy, Kissimmee, F...",28.333508,-81.513738,221,3.21,positive
27,"5920 Balboa Ave, San Diego, CA 92111, United S...",32.820654,-117.178011,51,3.55,positive
28,"621 Broadway, Newark, NJ 07104, United States",40.771910,-74.161475,80,2.98,positive
29,"632 S R L Thornton Freeway Service Rd, Dallas,...",32.744596,-96.812286,152,2.37,negative
30,"6875 Sand Lake Rd, Orlando, FL 32819, United S...",28.450387,-81.471414,323,3.50,positive
31,"690 Alameda St, Los Angeles, CA 90021, United ...",34.035270,-118.238206,61,3.15,positive
32,"7010 Bradlick Shopping Center, Annandale, VA 2...",38.812823,-77.185055,48,3.56,positive
33,"702-2 Haddonfield-Berlin Rd, Voorhees Township...",39.852059,-74.981099,79,4.01,positive
34,"72-69 Kissena Blvd, Queens, NY 11367, United S...",40.727401,-73.812460,115,3.08,positive
35,"724 Broadway, New York, NY 10003, United States",40.729126,-73.993264,116,2.99,positive
36,"8500 US-290, Austin, TX 78724, United States",30.329135,-97.660629,114,2.11,negative
37,"9814 International Dr, Orlando, FL 32819, Unit...",28.423814,-81.461242,238,2.82,negative
38,"By Mandalay Bay, 3999 S Las Vegas Blvd, Las Ve...",36.090244,-115.175822,89,2.30,negative

In [41]:
df_pro['rating'].rank(method='min', ascending=False)

0      5.0
1      1.0
2     17.0
3     15.0
4     14.0
5     36.0
6     22.0
7     12.0
8     23.0
9     27.0
10    39.0
11    15.0
12    35.0
13    31.0
14    23.0
15     3.0
16    30.0
17    11.0
18     6.0
19    10.0
20    33.0
21     4.0
22    29.0
23    17.0
24    12.0
25    32.0
26    19.0
27     8.0
28    26.0
29    34.0
30     9.0
31    20.0
32     7.0
33     2.0
34    21.0
35    25.0
36    38.0
37    28.0
38    37.0
Name: rating, dtype: float64